# Ignore environment configuration files
.env
firebase-adminsdk.json
root.crt
ssl/

# Node.js and npm files
node_modules/
npm-debug.log

# Docker-related files
Dockerfile
docker-compose.yml

# OS-specific files
.DS_Store
Thumbs.db

# Git-related files
.git
.gitignore

# Build and temporary files
*.log
*.tmp
